<div class="d-flex justify-content-center mt-5">
    <div class="card w-75 shadow">
        <div class="card-body p-0">
            <div class="scroll-box">
                <div class="table table-responsive">
                    <table class="table  table-bordered small-font table-striped">
                        <thead class="thead">
                            <tr class="tr">
                                <th>&nbsp;</th>
                                <th>Status</th>
                                <th>Fila criada pelo sistema</th>
                                <th>Data envio</th>
                                <th>Descrição</th>
                                <th>Tipo de arquivo</th>
                                <th>Quantidade registros</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of Documentacao; let i = index"  class="tr">
                                <td>{{ i + 1 }}</td>
                                <td>{{ item.status }}</td>
                                <td>{{ item.queueName }}</td>
                                <td>{{ item.dataEnvio }}</td>
                                <td>{{ item.descricao }}</td>
                                <td>{{ item.tipoArquivo }}</td>
                                <td>{{ item.registros }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>