input.form-control.form-control-sm.mt-1 {
  padding: 6px 12px;
  font-size: 0.9rem;
  border: 2px solid   #38928a;;  
  border-radius: 8px;
  background-color: #f8f9fa;  
  box-shadow: inset 1px 1px 5px rgba(0, 123, 255, 0.15);
  transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

input.form-control.form-control-sm.mt-1:focus {
  border-color:  #38928a; 
  background-color: #ffffff;
  box-shadow: 0 0 8px rgba(0, 86, 179, 0.6);
  outline: none;
}

input.form-control.form-control-sm.mt-1::placeholder {
  color: #6c757d;
  font-style: italic;
  opacity: 0.7;
}

 .alinhado-centro {
    display: inline-flex;
    align-items: center;
  }


.cor-quadrado {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 4px;  
  margin-right: 5px;
  border: 1px solid #6c757d;
}

.bg-atencao-soft {
  background-color: #fff9c4;  
  color: #212529;  
}

.bg-norma-soft {
  background-color: #fdeba9;  
  color: #212529;  
}

.bg-atrasado-soft {
  background-color: #ffd6d6;  
  color: #212529;  
}

.bg-pago-soft {
  background-color: #f3f381;  
  color: #ffffff;   
}

.bg-processado-soft{
   background-color:  #e5f5f4;  
   color: #000;
}

.bg-normal-soft {
   background-color:  #e5f5f4;  
   color: #000;
}

.bg-pendente-soft {
   background-color:  #ffcde6;  
   color: #000;
}

.text-dark-custom {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  font-style: italic; 
}

.table {
  width: 100%;
  font-size: 14px;
  color: #333;
}

.justify-text {
  text-align: justify;
  line-height: 1.6;
}

.table td {
  padding: 8px 12px;
  vertical-align: top;
}

hr.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
  border: none;
  border-top: 1px solid #ccc;
}
 