/* Estilo do container */
.container {
  margin-top: -20px;
}

/* Estilo das colunas */
.col-sm {
  background-color:  #989a9b;  /* Cor de fundo suave para as colunas */
  border: 1px solid #676665;  /* Borda sutil */
  padding: 5px; /* Espaçamento interno */
  text-align: center; /* Alinha o conteúdo ao centro */
  margin-bottom: 10px; /* Espaçamento entre as colunas */
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 1rem; /* Tamanho da fonte */
  font-family: 'Segoe UI', Roboto, sans-serif;
  color: #fff; /* Cor do texto agora é branca */
}

