/* Estilo do container */
.container {
  margin-top: -20px;
  padding-left: 105px;
}

/* Estilo das colunas */
.col-sm {
  background-color:  #989a9b;  /* Cor de fundo suave para as colunas */
  border: 1px solid #676665;  /* Borda sutil */
  padding: 5px; /* Espaçamento interno */
  text-align: center; /* Alinha o conteúdo ao centro */
  margin-bottom: 10px; /* Espaçamento entre as colunas */
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 1rem; /* Tamanho da fonte */
  font-family: 'Segoe UI', Roboto, sans-serif;
  color: #fff; /* Cor do texto agora é branca */
}

/* Ajustes para responsividade em telas menores */
@media (max-width: 768px) {
  .col-sm {
    font-size: 0.9rem; /* Reduz o tamanho da fonte em dispositivos móveis */
    padding: 10px; /* Reduz o padding */
  }
}


/* Estilo de borda ao passar o mouse */
.col-sm:hover {
  background-color: #f08197; /* Cor de fundo mais escura ao passar o mouse */
  border-color: #f08197; /* Cor da borda ao passar o mouse */
  cursor: pointer; /* Mostra o cursor como uma mãozinha */
}
