.canvas-e-botoes {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;

}

.posicao {
  display: flex;
  flex-direction: column; /* Coloca os botões em coluna (um abaixo do outro) */
  gap: 1rem;              /* Espaçamento entre os botões */
  align-items: center;    /* Centraliza horizontalmente */
  margin-top: 30px;
}

.botoes-assinatura {
  padding: 0.6rem 1.2rem;
  font-size: 0.9rem;
  background-color:#457b9d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 120px;
}

.botoes-assinatura:hover {
  background-color: #0056b3;
}

.painel-esquerdo{
    border: dotted;
    max-width: 100%;
}

.painel-direito{
  border: dotted;
  max-width: 100%;
} 