<div class="assinatura-container">
   <div class="row">
    <div class="col-5">
      <div class="painel-esquerdo">
        <div class="canvas-e-botoes">
          <canvas  #assinaturaCanvas class="canvas" (mousedown)="startDrawing($event)" (mouseup)="stopDrawing()"
            (mouseleave)="stopDrawing()" (mousemove)="draw($event)">
          </canvas>
        </div>
      </div>
    </div>

    <div class="col-2">
      <div class="posicao">
        <button class="botoes-assinatura" (click)="limpar()">Limpar</button>
        <button class="botoes-assinatura" (click)="salvar()">Salvar</button>
      </div>
    </div>
    <div class="col-5">
      <div class="painel-direito" *ngIf="imagemAssinatura">
        <img [src]="imagemAssinatura" alt="Assinatura" class="preview" />
      </div>
    </div>
  </div>
</div>