<div class="container mt-5 d-flex justify-content-center">
  <div *ngIf="carregando" class="d-flex justify-content-center align-items-center flex-column"
    style="position: fixed; inset: 0; width: 100vw; height: 100vh; background-color: rgba(255, 255, 255, 0.8); z-index: 1050;">

    <div class="spinner-grow text-info" role="status" style="width: 3rem; height: 3rem;">
      <span class="visually-hidden">Carregando...</span>
    </div>

    <p class="mt-3 fs-5 fw-medium"><span style="font-family: 'Montserrat', sans-serif; color: red;">Por favor,
        aguarde...</span></p>
  </div>

  <div class="card shadow p-4" style="width: 100%; max-width: 1000px;">
    <div class="card-body">
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="row g-3 align-items-end">

          <div class="col-md-1 d-flex align-items-center">
            <div class="form-check form-switch">
              <input class="form-check-input" style="background-color: #f33d6e; border-color: #f33d6e;" type="checkbox"
                id="ativo" formControlName="ativo" checked (change)="mudarStatus()">
              <label class="form-check-label" for="ativo"
                [ngStyle]="{color: statusAtivo === 'ON' ? 'black' : 'red', 'font-weight': 'normal'}"
                style="font-size: 0.75rem; font-family: 'Montserrat', sans-serif;">
                {{ statusAtivo }}
              </label>
            </div>
          </div>

          <!-- Tipo de Serviço -->
          <div class="col-md-3" style="margin-left: 29px;">
            <label for="tipoServico" class="form-label">
              Tipo de Serviço <span class="text-danger">*</span>
            </label>

            <select id="tipoServico" formControlName="tipoServico" class="form-select"
              [ngClass]="{ 'is-invalid': formulario.get('tipoServico')?.touched && formulario.get('tipoServico')?.invalid }">

              <option value="" disabled selected>Selecione...</option>
              <option *ngFor="let tipo of tiposServico" [value]="tipo.valor">
                {{ tipo.chave }}
              </option>
            </select>

            <div class="invalid-feedback"
              *ngIf="formulario.get('tipoServico')?.touched && formulario.get('tipoServico')?.invalid">
              Campo obrigatório.
            </div>
          </div>

          <!-- Tipo de Arquivo -->
          <div class="col-md-3">
            <label for="tipoArquivo" class="form-label">Tipo de Arquivo <span class="text-danger">*</span></label>
            <select id="tipoArquivo" formControlName="tipoArquivo" class="form-select"
              [ngClass]="{ 'is-invalid': formulario.get('tipoArquivo')?.touched && formulario.get('tipoArquivo')?.invalid }">
              <option value="" disabled selected>Selecione...</option>
              <option *ngFor="let tipo of tiposArquivo" [value]="tipo.valor">
                {{ tipo.chave }}
              </option>
            </select>
            <div class="invalid-feedback"
              *ngIf="formulario.get('tipoArquivo')?.touched && formulario.get('tipoArquivo')?.invalid">
              Campo obrigatório.
            </div>
          </div>

          <!-- Data Início -->
          <div class="col-md-2">
            <label for="dataInicio" class="form-label">Data Início <span class="text-danger">*</span></label>
            <input id="dataInicio" formControlName="dataInicio" type="date" class="form-control" [attr.min]="dataHoje"
              [ngClass]="{ 'is-invalid': formulario.get('dataInicio')?.touched && formulario.get('dataInicio')?.invalid }" />
            <div class="invalid-feedback"
              *ngIf="formulario.get('dataInicio')?.touched && formulario.get('dataInicio')?.invalid">
              A data de início não pode ser anterior a hoje.
            </div>
          </div>

          <!-- Data Final -->
          <div class="col-md-2">
            <label for="dataFinal" class="form-label">Data Final <span class="text-danger">*</span></label>
            <input id="dataFinal" formControlName="dataFinal" type="date" class="form-control" [attr.min]="dataHoje"
              [ngClass]="{ 'is-invalid': formulario.get('dataFinal')?.touched && formulario.get('dataFinal')?.invalid }" />
            <div class="invalid-feedback"
              *ngIf="formulario.get('dataFinal')?.touched && formulario.get('dataFinal')?.invalid">
              Campo obrigatório ou data inferior a hoje.
            </div>
          </div>
        </div>

        <!-- Textarea + Botão lado a lado -->
        <div class="row mt-4">
          <div class="col-md-12 d-flex align-items-end">

            <div class="flex-grow-1 me-3">
              <label for="descricao" class="form-label">
                Descrição sobre a Fila <span class="text-danger">*</span>
              </label>

              <textarea id="descricao" style="resize: none;" formControlName="descricao" class="form-control" [ngClass]="{
                'is-invalid': formulario.get('descricao')?.touched && formulario.get('descricao')?.invalid}" rows="2"
                maxlength="200" placeholder="Descreva os detalhes da fila..." (input)="atualizarContador()">
              </textarea>

              <div class="form-text text-end text-muted">
                Caracteres: {{ caracteresDigitados }}/200
              </div>

              <div class="invalid-feedback"
                *ngIf="formulario.get('descricao')?.touched && formulario.get('descricao')?.invalid">
                Campo obrigatório. Mínimo de 10 caracteres.
              </div>
            </div>

            <!-- Botão ao lado -->
            <div>
              <button type="submit" class="btn-custom"
                style="position: relative; top:-35px; width: 40px; height: 40px;">
                <i class="bi bi-check"></i>
              </button>
            </div>
          </div>
        </div>
      </form>

      <br>
      <div class="scroll-box">
        <div class="table table-responsive">
          <table class="table  table-bordered small-font table-striped">
            <thead class="thead">
              <tr>
                <th class="text-center">Tipo de Serviço</th>
                <th class="text-center">Tipo de Arquivo</th>
                <th class="text-center">Data Início</th>
                <th class="text-center">Data Final</th>
                <th class="text-justify">Descrição</th>
                <th class="text-center">Ativo</th>
                <th class="text-center">Guia de Implementação</th>
              </tr>
            </thead>

            <tr *ngFor="let fila of ConfiguracaoDocumento" class="tr">
              <td class="text-center">
                {{ getTipoServicoDescricao(+fila.tipoServico) }}
              </td>
              <td class="text-justify">
                {{ getTipoArquivoDescricao(+fila.tipoArquivo) }}
              </td>
              <td class="text-center">
                {{fila.dataInicio | date: 'dd/MM/yyyy'}}
              </td>
              <td class="text-center">
                {{fila.dataFinal | date: 'dd/MM/yyyy'}}
              </td>
              <td>
                {{fila.descricao}}
              </td>
              <td class="text-center">
                <div class="dropdown">
                  <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{ fila.ativo? 'Disponível' : 'Inativo' }}
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" (click)="alternarStatus(fila.guid)">On/Off</a></li>
                  </ul>
                </div>
              </td>
              <td class="text-center">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#meuModalScrollable"
                  (click)="baixarArquivo(fila.guid)"><i class="bi bi-download"></i>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- aqui -->
      <!-- Modal -->
      <div class="modal fade" id="meuModalScrollable" tabindex="-1" aria-labelledby="meuModalScrollableLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
          <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title" id="meuModalScrollableLabel">Procedimento de integração da fila selecionada via mensageria</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>

            <div class="modal-body">
              <div [innerHTML]="htmlConteudo" class="html-estatico" id="conteudo-pdf"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>