<div class="menu-vertical">
  <ul>
      <div class="dropdown" style="margin-left: 10px;">
        <button class="btn btn-secondary dropdown-toggle" style="width: 170px; margin-bottom: 10px;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Cadastro
        </button>
        <ul class="dropdown-menu" style="background-color: #f1ecd4;">
          <li><a class="dropdown-item" href="#">Empresa</a></li>
          <li><a class="dropdown-item" href="#">Fila mensageria</a></li>
        </ul>
      </div>

      <div class="dropdown" style="margin-left: 10px;">
        <button class="btn btn-secondary dropdown-toggle" style="width: 170px; margin-bottom: 10px;"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Relatórios
        </button>
        <ul class="dropdown-menu" style="background-color: #f1ecd4;">
          <li><a class="dropdown-item" href="#">Mensagens enviadas</a></li>
          <li><a class="dropdown-item" href="#">Filas cadastradas</a></li>
       </ul>
      </div>

      <li><a routerLink="/enviar-mensagem" routerLinkActive="active">Enviar Mensagem</a></li>
      <li><a routerLink="/contatos" routerLinkActive="active">Contatos</a></li>
      <li><a routerLink="/configuracoes" routerLinkActive="active">Configurações</a></li>
      <li><a routerLink="/ajuda" routerLinkActive="active">Ajuda</a></li>
  </ul>
</div>
