.bg-chumbo-gradient {
  background: linear-gradient(to right, #2c3e50, #34495e, #4f5965);
  color: white;
}

.bg-chumbo-gradient a,
.bg-chumbo-gradient .navbar-brand,
.bg-chumbo-gradient .nav-link {
  color: white !important;
}

.bg-chumbo-gradient .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Dropdown com fundo cinza claro */
.bg-chumbo-gradient .dropdown-menu {
  background-color: #f0f0f0; /* Cinza claro */
  border: none;
  border-radius: 0.5rem;
}

.bg-chumbo-gradient .dropdown-menu .dropdown-item {
  color: #333333 !important; /* Texto cinza escuro */
}

.bg-chumbo-gradient .dropdown-menu .dropdown-item:hover {
  background-color: #d0d0d0; /* Cinza médio no hover */
}

.letraMenu{
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   background-color: #606973;
   color: white;
}
