<nav class="navbar navbar-expand-lg navbar-dark bg-chumbo-gradient">
  <div class="container-fluid px-4">
    <img src="../../assets/logo.png" class="logo" alt="VML Consultoria">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <!-- Grupo principal à esquerda -->
      <ul class="navbar-nav" style="margin-left: 30px;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Configuração
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/cadastro-empresa">Grupo Empresa</a></li>
            <li><a class="dropdown-item" routerLink="#">Configuração de Filas</a></li> 
          </ul>
        </li>
      </ul>

       <ul class="navbar-nav" style="margin-left: 10px;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Listagem de grupo-empresas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/grupo-empresas">Empresa</a></li>
            <li><a class="dropdown-item" routerLink="#">Filas cadastradas</a></li> 
          </ul>
        </li>
      </ul>

      
      <!-- Grupo Login alinhado à direita -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
