.conteudo-principal {
  /* faz com que esse div cresça para preencher o espaço sobrando */
  flex: 1;

  /* garante que o conte;údo interno não “grude” nas bordas */
  padding: 1.5rem;

  /* opcional: para que o conteúdo role se for maior que a altura da viewport */
  overflow-y: auto;

  /* opcional: garante altura mínima igual à tela toda */
  min-height: 100vh;

  /* opcional: um fundo sutil para destacar a área de conteúdo */
  background-color: #FFFF
}
 
.Titulo {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  background: linear-gradient(to right, #2c3e50, #4b6584, #34495e);
  animation: fadeIn 0.5s ease-out forwards;
  transition: background 0.3s ease;
  display: block;
  width: 100%;
  padding: 12px 0; /* adiciona altura vertical */
  border-radius: 6px; /* opcional: bordas arredondadas */
}


.logo {
  width: 40px;
  height: 40px;
  border-radius: 8px; /* cantos arredondados */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* sombra */
  transition: transform 0.3s ease; /* animação suave */
}

.logo:hover {
  transform: scale(1.05); /* efeito ao passar o mouse */
}
