.conteudo-principal {
  /* faz com que esse div cresça para preencher o espaço sobrando */
  flex: 1;

  /* garante que o conte;údo interno não “grude” nas bordas */
  padding: 1.5rem;

  /* opcional: para que o conteúdo role se for maior que a altura da viewport */
  overflow-y: auto;

  /* opcional: garante altura mínima igual à tela toda */
  min-height: 100vh;

  /* opcional: um fundo sutil para destacar a área de conteúdo */
  background-color: #FFFF
}

body, html {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

 .Titulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #000;  
  background-color: #ffffff;
  text-align: center;
  display: block;
  width: 100%; 
  border-radius: 6px;
 }

.logo {
  width: 40px;
  height: 40px;
  border-radius: 8px;  
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);  
  transition: transform 0.3s ease;  
}

.logo:hover {
  transform: scale(1.05);  
}

.btn-custom {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #1d3557;  
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-custom:hover {
  background-color: #457b9d;  
  transform: scale(1.05);
}

.btn-custom:active {
  background-color: #1a2c44;
}
 
.checkBox-custumer {
  background-color: #1a2c44;
}

.small-font {
  font-size: 0.85rem;
}

.text-justify {
    text-align: justify;
  }


.thead th {
  background-color: rgb(102, 194, 191);
  color: white;
}


.scroll-box {
  max-height: 200px;
  overflow-y: auto;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #333;
}

/* Scrollbar estilizado para navegadores baseados em WebKit */
.scroll-box::-webkit-scrollbar {
  width: 8px;
}

.scroll-box::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 8px;
}

.scroll-box::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 8px;
}

.scroll-box::-webkit-scrollbar-thumb:hover {
  background: #999;
}

