<div class="container py-5">
    <div class="row text-center">
        <div class="row">
            <div class="col-md-4 mb-4" *ngFor="let plano of planos">
                <div class="card shadow-sm h-100" [ngClass]="'border-dark'">
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">
                            R$ {{ plano.preco }}
                            <span class="texto-menor-negrito">
                                {{ plano.periodicidade }}
                            </span>
                            <span *ngIf="plano.id === planoEscolhido" class="float-right">
                                <i class="bi bi-check2"></i>
                            </span>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li *ngFor="let item of plano.recursos"><span
                                    style="font-size: 18px; font-family: 'Montserrat', sans-serif;">{{ item }}</span>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-outline-secondary w-100" (click)="escolherPlano(plano.id)">
                            <strong style="font-size: 25px;  font-family: 'Montserrat', sans-serif;">
                                {{ plano.nome }}</strong>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-3"></div>
        <div class="col-5" style="margin-left: 58px;">
            <span class="assinatura-eletronica">Assinatura eletrônica</span>
            <canvas #assinaturaCanvas (mousedown)="startDrawing($event)" (mouseup)="stopDrawing()"
                (mouseleave)="stopDrawing()" (mousemove)="draw($event)" style="border: 2px dotted #f33d6e;  ">
            </canvas>
            <div class="btn-group" role="group" aria-label="Exemplo básico">
                <button type="button" class="btn botoes-assinatura" (click)="limpar()">Limpar</button>
                <button type="button" class="btn botoes-assinatura" (click)="salvar()">Salvar</button>
                <button type="button" class="btn botoes-assinatura" data-bs-toggle="modal"
                    data-bs-target="#meuModalScrollable" (click)="contrato()">Contrato
                </button>

            </div>
            <div class="col-3"></div>
        </div>
    </div>

    <div class="modal fade" id="meuModalScrollable" tabindex="-1" aria-labelledby="meuModalScrollableLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <button (click)="gerarEbaixarPDF()"
                        style="background-color: #f33d6e; color: white; border: none; padding: 10px; border-radius: 5px;">
                        <i class="bi bi-printer"></i>
                    </button>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>

                <div class="modal-body">
                    <div id="conteudo-para-pdf" [innerHTML]="htmlConteudo"></div>
                </div>
            </div>
        </div>
    </div>